/**
Table styling begins
*/

.content-area {
  max-width: 1440px;
  max-height: 1880px;
  font-size: medium;
}

#table-top {
  background-color: #ffffff;
  padding: 20px 20px;
  box-shadow: -1px -2px 2px rgba(0, 0, 0, 0.1), 1px 2px 2px rgba(0, 0, 0, 0.1);
}

#table-top h5 {
  color: #00945e;
  font-weight: 550;
}

.tab {
  background-color: #ffffff;
  box-shadow: -1px -2px 2px rgba(0, 0, 0, 0.1), 1px 2px 2px rgba(0, 0, 0, 0.1);
}
table thead {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

table td,
.table thead th {
  vertical-align: top;
}

table tbody tr :nth-child(2) {
  color: #00945e;
}

table tbody tr:nth-child(even) {
  background-color: #c4c4c4;
}
/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #ddd;
  border-radius: 2px;
  transition: background-color 0.3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #00945e;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #7ba395;
  outline-color: #00945e;
}
